#my-node {
  width: 1080px;
  height: 1920px;
  background-color: #2a9d8f;
}
.chinese {
  color: #eee7d7;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  letter-spacing: 0.2em;
}
#b {
  color: #f4a261;
  font-family: "Spartan";
  white-space: pre-wrap;
}
#c {
  background-color: #264653;
}
